.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__yXv7G {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 80px;
  max-width: 100%;
  background: #01017d;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  padding: 8px;
}
.freeBox__igO0L {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__igO0L > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__igO0L > :global(.__wab_flex-container) > *,
.freeBox__igO0L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__igO0L > :global(.__wab_flex-container) > picture > img,
.freeBox__igO0L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.link__mV4Wc {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #ffffff;
}
.link__uso0Q {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #ffffff;
}
.link__vMjte {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #ffffff;
}
.section__lsmIq {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #00acfb;
  margin-top: 80px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__lsmIq > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__lsmIq > * {
    grid-column: 4;
  }
}
.img__qlPk {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  border-radius: 32px;
  border-width: 10px;
  border-style: solid;
}
.img__qlPk > picture > img {
  object-fit: cover;
}
.freeBox__md9Yz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 50px;
  padding: 8px;
  border-width: 5px;
  border-style: solid;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__md9Yz {
    padding: 16px;
  }
}
.text__keaUe {
  position: relative;
  font-family: "Press Start 2P";
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__keaUe {
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    font-size: 12px;
    min-width: 0;
  }
}
.section__r9R1E {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #ffc328;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__r9R1E > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__r9R1E > * {
    grid-column: 4;
  }
}
.columns__b4Cle {
  --plsmc-rc-col-gap: 0px;
}
.columns__b4Cle {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__b4Cle > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__b4Cle > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Cle {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b4Cle > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__czVb6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ba6Ux {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ba6Ux > picture > img {
  object-fit: cover;
}
.column__gHmhm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__gHmhm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__gHmhm > :global(.__wab_flex-container) > *,
.column__gHmhm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gHmhm > :global(.__wab_flex-container) > picture > img,
.column__gHmhm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__b1JF2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.h6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.section__c3XLc {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  background: #45f5a9;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section__c3XLc > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__c3XLc > * {
    grid-column: 4;
  }
}
.h3___1Ool {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  text-align: center;
  min-width: 0;
}
.columns__oRyHo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__oRyHo > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
  --plsmc-rc-col-gap: 24px;
}
.columns__oRyHo > :global(.__wab_flex-container) > *,
.columns__oRyHo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oRyHo > :global(.__wab_flex-container) > picture > img,
.columns__oRyHo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.columns__oRyHo {
  --plsmc-rc-col-gap: 0px;
}
.columns__oRyHo > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oRyHo > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oRyHo > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oRyHo > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oRyHo {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oRyHo > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oRyHo > :global(.__wab_flex-container) > *,
  .columns__oRyHo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__oRyHo > :global(.__wab_flex-container) > picture > img,
  .columns__oRyHo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__oRyHo > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__g8Id9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__g8Id9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__g8Id9 > :global(.__wab_flex-container) > *,
.column__g8Id9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__g8Id9 > :global(.__wab_flex-container) > picture > img,
.column__g8Id9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4__glb0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.text__lnzn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #2b2b2b;
  font-size: 14px;
  min-width: 0;
}
.column__anPjn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__anPjn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__anPjn > :global(.__wab_flex-container) > *,
.column__anPjn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__anPjn > :global(.__wab_flex-container) > picture > img,
.column__anPjn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4__jw5Ek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.text___0P56R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #2b2b2b;
  font-size: 14px;
  min-width: 0;
}
.column__eZGkE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__eZGkE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__eZGkE > :global(.__wab_flex-container) > *,
.column__eZGkE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eZGkE > :global(.__wab_flex-container) > picture > img,
.column__eZGkE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4___0Ye4F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.text__ahxxS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #2b2b2b;
  font-size: 14px;
  min-width: 0;
}
.column___1Dzvt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___1Dzvt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___1Dzvt > :global(.__wab_flex-container) > *,
.column___1Dzvt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___1Dzvt > :global(.__wab_flex-container) > picture > img,
.column___1Dzvt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4___1M8Wj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  min-width: 0;
}
.text__o04F {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Press Start 2P";
  color: #2b2b2b;
  font-size: 14px;
  min-width: 0;
}
